/*
*   Style: Catppuccin Latte
*/

$color: #4c4f69;
$background-color: #eff1f5;
$error-color: #d20f39;
$keyword-color: #5c5f77;
$text-color: #4c4f69;
$name-color: #40a02b;
$literal-color: #df8e1d;

@import "common.scss";
